---
import Layout from "../../layouts/Layout.astro";
import {fetchIndividualProgram} from "./fetchProgram";
import {Image} from "astro:assets"
import {dayAndTimeFormat} from "../../utils/dateformat";


const {slug} = Astro.params;

const session = await fetchIndividualProgram(slug);

const speakers = session?.speakers;
---

<Layout title={session ? session.title : "Fant ingenting!"}>
    {session ? (
        <>

            <div class="bg-white mx-auto relative mt-4 p-5 border-black border-2 rounded-xl">
                <div class="w-full position-relative">
                    <a href="/program" class="absolute right-4 -mt-12">
                        <Image class="-rotate-90" src="/images/to-top.svg"
                               alt="An illustration of an arrow pointing left to navigate back to program." width="50"
                               height="50"/>
                    </a>
                </div>
                <div class="pb-4">
                    <h1 class="text-3xl md:text-6xl">{session.title}</h1>
                    <p class="p-0">Time and
                        room: {session.startTime ? `${session.room} - ${dayAndTimeFormat.format(new Date(session.startTime))}` : 'TBA'}</p>
                    {session.registerLoc && <a href={session.registerLoc}>Klikk her for å melde på denne workshopen</a>}
                </div>

                <div class="grid md:grid-cols-4 md:gap-12">
                    <div class="md:col-span-3">
                        <p>{session.abstract}</p>
                        <h2 class="font-bold mt-10 text-xl md:text-3xl">Intended audience: </h2>
                        <p>{session.intendedAudience}</p>
                        {session.workshopPrerequisites && (
                            <h2 class="font-bold mt-10 text-xl md:text-3xl">Prerequisites</h2>
                            <p class="whitespace-pre-line">{session.workshopPrerequisites}</p>
                        )}
                    </div>
                    <div class="mt-3 font-bold gap-4">
                        <p>Type: {session.format}</p>
                        <p>Language: {session.language === "no" ? "Norwegian" : "English"}</p>
                    </div>
                </div>
            </div>
            <div class="p-5">
                {speakers && speakers.map((speaker) => (
                    <div>
                        <p class="font-bold">{speaker.name}</p>
                        <p>{speaker.bio}</p>
                    </div>
                ))}
            </div>
        </>
    ) : (
        <p>Her var det tomt!</p>
    )}
</Layout>
