---
import Layout from "../../layouts/Layout.astro";
import {fetchIndividualProgram} from "./fetchProgram";
import {Image} from "astro:assets"
import {SessionDetails} from "../../components/program/SessionDetails";

const {slug} = Astro.params;

const session = await fetchIndividualProgram(slug);

const speakers = session?.speakers;
---

<Layout title={session ? session.title : "Fant ingenting!"}>
    {session ? (
        <div class="bg-white mx-auto relative mt-4 p-5 border-black border-2 rounded-xl">
            <div class="w-full position-relative">
                <a href="/program" class="absolute right-4 -mt-12">
                    <Image
                        class="-rotate-90"
                        src="/images/to-top.svg"
                        alt="An illustration of an arrow pointing left to navigate back to program."
                        width={50}
                        height={50}
                    />
                </a>
            </div>
        <SessionDetails client:only="react" session={session}/>
        </div>
        <div class="p-5 bg-white border-black border-2 rounded-xl mx-auto mt-4">
            {speakers &&
                speakers.map((speaker) => (
                    <div>
                        <p class="font-bold">{speaker.name}</p>
                        <p class="whitespace-pre-line">{speaker.bio}</p>
                    </div>
                ))}
        </div>
    ) : (
        <p>Her var det tomt!</p>
    )}
</Layout>
