---
import Layout from "../../layouts/Layout.astro";
import {fetchProgram} from "./fetchProgram";
import type {Session} from "../../types/program";
import {dayAndTimeFormatWithMonth} from "../../utils/dateformat";
import {FilteredProgram} from "../../components/program/FilteredProgram.tsx";

const fullprogram = await fetchProgram();

const formatTime = (time: string): string => {
    const [hours, minutes] = time.split('T')[1].split(':').slice(0, 2);
    return `${parseInt(hours, 10)}:${minutes}`;
};



const program = fullprogram.sessions

function groupSessionsByTimeslot(sessions: Session[]): Record<string, Session[]> {
    const hasStartTime = sessions.some(session => !!session.startTime);

    if (!hasStartTime) {
        return {
            "": sessions
        }
    }

    return sessions.reduce((acc: Record<string, Session[]>, session: Session) => {
        const startTime = session.startSlot ?? "00:00";
        const timeslot = startTime;
        if (!acc[timeslot]) {
            acc[timeslot] = [];
        }
        acc[timeslot].push(session);
        return acc;
    }, {});
}

const groupedSessions = groupSessionsByTimeslot(Object.values(program).flat());
const sortedTimeslots = Object.keys(groupedSessions).sort((a, b) => a.localeCompare(b));
---


<Layout title="Program">
    <div>
        <h1>Program for Javazone 2024</h1>
        <p class="mb-auto">These are all the talks that made it into the program. Workshop registration opens August 19th at 12:00
                (Click on the workshop to find the registration link). Your personalised schedule is coming soon!</p>

        <FilteredProgram client:only="react" timeSlots={sortedTimeslots} sessions={groupedSessions}/>
    </div>
</Layout>


