---
import Layout from "../../layouts/Layout.astro";
import {fetchProgram} from "./fetchProgram";
import type {Session} from "types/program";
import SessionCard from "@/components/SessionCard.astro";
import FilterButton from "./FilterButton.astro"
import {dayAndTimeFormatWithMonth} from "../../utils/dateformat";

const fullprogram = await fetchProgram();

const program = fullprogram.sessions

function groupSessionsByTimeslot(sessions: Session[]): Record<string, Session[]> {
    const hasStartTime = sessions.some(session => !!session.startTime);

    if (!hasStartTime) {
        return {
            "": sessions
        }
    }

    return sessions.reduce((acc: Record<string, Session[]>, session: Session) => {
        const startTime = session.startSlot ?? "00:00";
        const timeslot = startTime;
        if (!acc[timeslot]) {
            acc[timeslot] = [];
        }
        acc[timeslot].push(session);
        return acc;
    }, {});
}

const groupedSessions = groupSessionsByTimeslot(Object.values(program).flat());
const sortedTimeslots = Object.keys(groupedSessions).sort((a, b) => a.localeCompare(b));
---

<script src="./filterScript.ts"></script>
<script src="./favoriteScript.ts"></script>

<Layout title="Program">
    <div>
        <h1>Program for Javazone 2024</h1>
        <p>These are all the talks that made it into the program. Workshop registration and your personalised schedule
            is coming soon!</p>

        <div class="flex flex-col gap-8">
            <!-- Filter Section -->
            <div class="w-full bg-white border-black border-2 rounded-xl p-4">
                <div class="mb-4">
                    <p class="bold text-big-text-color">Format</p>
                    <FilterButton id="fullProgramBtn">Full program</FilterButton>
                    <FilterButton id="liveBtn">Live</FilterButton>
                    <FilterButton id="favoriteBtn">My favorites (0)</FilterButton>
                </div>
            </div>

            <!-- Placeholder for filtered sessions -->
            <div id="filteredSessions" class="flex-grow">
                {sortedTimeslots.map((time) => (
                    <section class="mb-8">
                        {time && <h2>{dayAndTimeFormatWithMonth.format(new Date(time))}</h2>}
                        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4">
                            {groupedSessions[time]
                                .sort((a, b) => a.room?.localeCompare(b.room ?? "") || a.startTime?.localeCompare(b.startTime ?? "") || 0)
                                .map((session, index) => (
                                    <SessionCard session={session} key={index}/>
                                ))}
                        </div>
                    </section>
                ))}
            </div>
        </div>
    </div>
</Layout>



