---
import Layout from "@/layouts/Layout.astro";
import {formatOrdinals} from "@/utils/formatOrdinals";
---

<Layout title="JavaZone 2024">
    <main class="wrapper">
        <section>
            <h1>JavaZone 2024</h1>
            <p>September {formatOrdinals(4)}-{formatOrdinals(5)} 2024 in Oslo Spektrum, Norway</p>
            <p>Conference: September {formatOrdinals(4)}-{formatOrdinals(5)}</p>
            <p>Workshops: September {formatOrdinals(3)}</p>

            <div class="center">

                <p>Ticket sales starts on March {formatOrdinals(1)} at 10 AM</p>
                <p>8 790,- (ex MVA and fee)</p>
                <p>Late Bird from May {formatOrdinals(1)} 9 590,- (ex MVA and fee)</p>
                <div class="button">
                    <a href="https://app.checkin.no/event/65889/javazone-2024" target="_blank">Get your ticket</a>
                </div>

                <br/>
                <p>Registered partners will also be able to reserve tickets on March {formatOrdinals(1)}</p>
                <div class="button">
                    <a href="https://app.checkin.no/event/68811/javazone-2024-partner-tickets" target="_blank">Reserve partner tickets</a>
                </div>

            </div>

        </section>
    </main>

</Layout>

<style>
    body {
        background-image: url("../images/main-area.jpg");
        backdrop-filter: blur(3px);
    }

    section {
        padding: 1rem;
        background: wheat;
        color: black;
        box-shadow: 1px 1px 1000px lightgray;
    }

    .wrapper {
        min-height: 100dvh;
        display: grid;
        place-content: center;
    }

    h1 {
        text-align: center;
    }

    .button {
        margin-top: 1rem;
        background: #4681f4;
        padding: 1rem;
        border-radius: 8px;

        a {
            color: white;
        }
    }

    .center {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .center p {
        width: 18rem;
    }
</style>
