---
import Layout from "@/layouts/Layout.astro";
import {Image} from "astro:assets"
import ButtonLink from "@/components/ButtonLink.astro"
import {formatOrdinals} from "@/utils/formatOrdinals";
---

<Layout title="JavaZone 2024">
    <div class="grid">
        <div class="grid relative place-items-center -mt-10">
            <Image class="absolute top-0 animate-[bounce_3.5s_infinite] md:w-[7rem] md:h-[7rem] w-12 h-12"
                   src="/images/jz24-splash-radio.svg"
                   alt="Floating radio"
                     width="75" height="75"/>
            <Image class="absolute top-2.5 left-[23rem] animate-sway"
                   src="/images/jz24-splash-cloud.svg"
                   alt="Floating cloud"
                   width="180" height="180"/>
            <Image src="/images/jz24-splash.svg"
                   alt="An illustration for 'JavaZone by JavaBin,' inspired by the 1920s Steamboat Willie theme. It features whimsical representations of technology, including small figures of USB sticks, floppy disks, and punch hole cards, among other vintage and modern tech elements. The design combines a nostalgic black-and-white animation style with technology motifs to celebrate the evolution of computing in a playful manner"
                   width="1000" height="800"/>
        </div>

        <section class="shadow-2xl bg-turquoise grid justify-center gap-4 px-4 py-8">
            <h1 class="max-sm:text-3xl">Welcome to JavaZone 2024</h1>
            <div>
                <p>September {formatOrdinals(4)}-{formatOrdinals(5)} 2024 in Oslo Spektrum, Norway</p>
                <p>Conference: September {formatOrdinals(4)}-{formatOrdinals(5)}</p>
                <p>Workshops: September {formatOrdinals(3)}</p>
            </div>

            <div>
                <p>Ticket sales starts on March {formatOrdinals(1)} at 10 AM</p>
                <p>8 790,- + 120,- fee (ex MVA)</p>
                <p>Late Bird from May {formatOrdinals(1)} 9 590,- + 120,- fee (ex MVA)</p>
                    <ButtonLink href="https://app.checkin.no/event/65889/javazone-2024" target="_blank">Get your ticket</ButtonLink>
            </div>
            <div>
                <p>Registered partners will also be able to reserve tickets on March {formatOrdinals(1)}</p>
                    <ButtonLink href="https://app.checkin.no/event/68811/javazone-2024-partner-tickets" target="_blank">Reserve
                        partner tickets</ButtonLink>
            </div>

        </section>
    </div>

</Layout>

<style>
    @property --a {
        syntax: "<angle>";
        inherits: false;
        initial-value: 10deg;
    }
    @keyframes rotate {
        0% {
            --a: 0deg;
        }
        100% {
            --a: 360deg;
        }
    }

    body {
        --a: 0deg; /*  needed for firefox to have a valid output */
        background: repeating-conic-gradient(
                hsla(0, 0%, 0%, 0.2) var(--a) calc(var(--a) + 15deg),
                hsla(0, 0%, 100%, 0) var(--a) calc(var(--a) + 30deg)
            )
            #00f3d2 no-repeat;
        animation: rotate 160s linear infinite;
    }

    .wiggly-box {
            --mask:
                radial-gradient(1em at 50% 1em,#000 99%,#0000 101%) calc(50% - 2em) 0/4em 51% repeat-x,
                radial-gradient(1em at 50% 0em,#0000 99%,#000 101%) 50% 1em/4em calc(51% - 1em) repeat-x,
                radial-gradient(1em at 50% calc(100% - 1em),#000 99%,#0000 101%) 50% 100%/4em 51% repeat-x,
                radial-gradient(1em at 50% calc(100% + 0em),#0000 99%,#000 101%) calc(50% - 2em) calc(100% - 1em)/4em calc(51% - 1em) repeat-x;
            -webkit-mask: var(--mask);
            mask: var(--mask);
        background: rgb(38,69,69);
        background: linear-gradient(0deg, rgba(38,69,69,1) 0%, rgba(0,243,210,1) 30%, rgba(0,243,210,1) 70%, rgba(38,69,69,0.9850533963585434) 100%);
        height: 22rem;
        width: 35rem;
        }
</style>
