---
import type { Session } from "types/program";
import { dayAndTimeFormat } from "../utils/dateformat";
import FavoriteButton from "./FavoriteButton.astro";

interface Props {
  session: Session;
  key: number;
}

const { session } = Astro.props;
---

<a href={`/program/${session.id}`}  style="text-decoration: none; color: inherit;"
  class="bg-white relative p-3 border-black border-2 rounded-xl hover:scale-105 transition ease-in-out delay-150 duration-200"
>
  {session.room && session.startTime && (
    <div class="flex justify-between pb-1 md:pb-2">
      <p class="my-0 md:my-1 text-sm md:text-base">
        {session.room} - {dayAndTimeFormat.format(new Date(session.startTime))}
      </p>
      <FavoriteButton session={session.id}/>
    </div>
  )}
  <div >
    <p class="my-0 md:my-1 text-base md:text-lg font-bold">
      {session.title} ({session.language})
    </p>
  </div>
  <div class="text-sm md:text-base">
    {session.speakers.map((speaker) => (
      <p class="m-0">{speaker.name}</p>
    ))}
  </div>
  <p class="text-lg text-end absolute bottom-0 right-1">{session.length} min</p>
</div>

