---
import type {Session} from "types/program"

interface Props {
    session: Session
    key: number
}

const {session} = Astro.props;
const dateFormat = Intl.DateTimeFormat("en", {
    day: "numeric",
    month: "long"
})
---
<div
    class="bg-white relative p-3 border-black border-2 rounded-xl hover:scale-105 transition ease-in-out delay-150 duration-200">
    {session.room && session.startTime &&
        <div class="flex justify-between pb-2">
            <p class="text-base">{session.room} - {dateFormat.format(new Date(session.startTime))}</p>
            <i class="text-4xl -mt-1 -mb-5 pr-2 text-stone-200">&hearts;</i>
        </div>}
    <a href=`/program/${session.id}` style="text-decoration: none; color: inherit;">
        <p class="text-lg font-bold">{session.title} ({session.language})</p>
    </a>
    <div class="text-base">
        {session.speakers.map((speaker) => (
            <p class="m-0">{speaker.name}</p>
        ))}
    </div>
    <p class="text-lg text-end absolute bottom-0 right-1">{session.length} min</p>
</div>
